---
import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Blog Category"
>

    <main>

        <header>

            <h1>
                Blog Category
            </h1>

            <p>
                Articles in the selected category will be displayed here.
            </p>

        </header>

    </main>

</BaseLayout>
