---
import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Blog Article"
>

    <main>

        <article>

            <header>

                <h1>
                    Blog Article
                </h1>

                <p>
                    This is the default SWG blog article template.
                </p>

            </header>

            <section>

                <p>
                    The article content will be rendered here.
                </p>

            </section>

        </article>

    </main>

</BaseLayout>
