---
import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Blog"
>

    <main>

        <header>

            <h1>
                Blog
            </h1>

            <p>
                Welcome to the blog index.
            </p>

        </header>

    </main>

</BaseLayout>
