---
/**
 * SWG Theme Starter
 *
 * Template:
 * Documentation Index
 *
 * This template is rendered by:
 *
 * src/pages/docs/index.astro
 */

import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Documentation"
>

    <main>

        <header>

            <h1>
                Documentation
            </h1>

            <p>
                Welcome to the documentation homepage.
            </p>

        </header>

    </main>

</BaseLayout>
