---
/**
 * SWG Theme Starter
 *
 * Template:
 * Documentation Article
 *
 * This template is rendered by:
 *
 * src/pages/docs/[...slug].astro
 */

import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Documentation Article"
>

    <main>

        <article>

            <header>

                <h1>
                    Documentation Article
                </h1>

                <p>
                    This is the default SWG documentation article template.
                </p>

            </header>

            <section>

                <p>
                    The documentation content will be rendered here.
                </p>

            </section>

        </article>

    </main>

</BaseLayout>
