---
/**
 * SWG Theme Starter
 *
 * Template:
 * Documentation Category
 *
 * This template is rendered by:
 *
 * src/pages/docs/category.astro
 */

import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Documentation Category"
>

    <main>

        <header>

            <h1>
                Documentation Category
            </h1>

            <p>
                Documentation articles for the selected category will be displayed here.
            </p>

        </header>

    </main>

</BaseLayout>
