---
import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Homepage"
>

    <main>

        <h1>
            Homepage
        </h1>

        <p>
            Welcome to your new SWG Theme.
        </p>

    </main>

</BaseLayout>
