---
import BaseLayout
    from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Page"
>

    <main>

        <article>

            <h1>
                Page
            </h1>

            <p>
                This is a standard SWG page template.
            </p>

        </article>

    </main>

</BaseLayout>
